@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

h1, h2, h4{
    font-family: "Major Mono Display", monospace;
    padding: 15px;
    color: #2ff1e1;
    
}

body {
    background-color: #1a1423;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p, li, th, tr, td {
    font-family: "SUSE Mono", sans-serif;
    color: #2ff1e1;
    text-decoration: none;
    list-style-type: none;
}

#logo {
    width: 300px;
    grid-column: 2;
    margin: 10px 10px 10px 0 ;
}

header {
    display: grid;
    grid-template-columns: .2fr 1fr;
    width: 100%;
    border-bottom: 2px solid #ffbc42;
    padding: 5px;
}

main {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 6fr;
}

.social-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#navbar {
    border-right: 2px solid #ffbc42;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row: 1 / 4;
    
}

footer {
    border-top: 2px solid #ffbc42;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    padding: 5px;
    margin: auto;
}

a {
    color: #2ff1e1;
    text-decoration: none;
}

#search-bar {
    max-height: 40%;
    background-color: lightgray;
    margin: auto;
    max-width: 70%;
    border-radius: 10px
}

main > div {
    padding: 20px;
}

